/*This .scss file contains varibales for colors*/

$bkg-color:rgb(28, 187, 171);
$section-bkg:rgb(236, 236, 236);
$block-bkg:rgb(255, 255, 255);
/*operators*/
$linecol: rgb(201, 66, 48) + rgb(110, 78, 199);



